{% extends 'base.html' %}
{% block book_banner %}
<a class="item" href="/">
    Home
</a>
<a class="item" href="/search">
    Search
</a>
<a class="active item" href="/appointments">
    Appointments
</a>
<a class="item" href="/profile/self/{{current_user.get_id()}}">
    Profile
</a>
<a class="item" href="/history">
    History
</a>
<div class="right menu">
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block accessedAppointment %}

<h2 class = "ui header">{{ appointment.patient }}'s Appointment</h2>

<form method='POST' action="/appointments">
    <div class="ui form">
        <div class="field">
            <label>Record Notes</label>
            <textarea name="notes"></textarea>
        </div>
        <div class="field">
            <label>Add Medicine</label>
            <textarea name="prescribedMedicine"></textarea>
        </div>
        <input type="hidden" name="appointmentIndex" value='{{appointmentIndex}}'/>
        <input type="submit" name="submitAppointment" class="ui basic button" value="Submit appointment"/>
    </div>
</form>

{% endblock%}
