{% extends 'base.html' %}
{% block book_banner %}
<a class="item" href="/">
    Home
</a>
<a class="item" href="/search">
    Search
</a>
<a class="active item" href="/appointments">
    Appointments
</a>
<a class="item" href="/profile/self/{{current_user.get_id()}}">
    Profile
</a>
<div class="right menu">
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block book %}
<table class="table" id="table">
			<thead>
				<tr>
					<th scope="col">#</th>
                    {% if current_user.isPatient() == True %}
                        <th scope="col">Provider</th>
                    {% else %}
                        <th scope="col">Patient</th>
                    {% endif %}
					<th scope="col">Date</th>
					<th scope="col">Time</th>
					<th scope="col">Reason</th>
					{% if current_user.isPatient() == False %}
                        <th scope="col">Access Appointment</th>
                    {% endif %}
				</tr>
			</thead>
			<tbody>
			    {% for item in appointments %}

			    <tr>
			    	<th scope="row">{{ loop.index }}</th>
			    	<!-- def __init__(self, provider, patient, date, time, reason): -->
                    {% if current_user.isPatient() == True %}
                        <td>{{ item.provider }}
                            <p></p>
                            <form method='POST' action='/profile/provider/{{ item.provider }}'>
                                <input type="submit" class="ui basic button" value="View Profile"/>
                            </form>
                        </td>
                    {% else %}
                        <td>{{ item.patient }}
                            <p></p>
                            <form method='POST' action='/profile/patient/{{ item.patient }}'>
                                <input type="submit" class="ui basic button" value="View Profile"/>
                            </form>
                        </td>
                    {% endif %}
			    	<td>{{ item.time }}</td>
			    	<td>{{ item.date }}</td>
					<td>{{ item.reason }}</td>
					<td> 
						<form method="POST" action="/accessedAppointment">
							<input type="hidden" name="appointment" value='{{loop.index}}'/>
							<input type="submit" name="startAppointment" class="ui basic button" value="Start Appointment"/>
						</form>
					</td>
			    </tr>
			    {% endfor %}
			</tbody>
		</table>

<h4 align="center">{{updated}}</h4>

{% endblock %}
