{% extends 'base.html' %}
{% block book_banner %}
<a class="item" href="/">
    Home
</a>
<a class="item" href="/search">
    Search
</a>
<a class="item" href="/appointments">
    Appointments
</a>
<a class="item" href="/profile/self/{{current_user.get_id()}}">
    Profile
</a>
<a class="active item" href="/history">
    History
</a>
<div class="right menu">
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block accessedAppointment %}

<h2 class = "ui header">{{ appointment.patient }}'s Appointment</h2>
<table class="table" id="information">
    <tr>
        <th>Provider</th>
        <td>{{appointment.provider}}
            <p></p>
            <form method='POST' action='/profile/provider/{{ appointment.provider }}'>
                <input type="submit" class="ui basic button" value="View Profile"/>
            </form>
        </td>
    </tr>
    <tr>
        <th>Patient</th>
        <td>{{appointment.patient}}
            <p></p>
            <form method='POST' action='/profile/patient/{{ appointment.patient }}'>
                <input type="submit" class="ui basic button" value="View Profile"/>
            </form>
        </td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{appointment.date}}</td>
    </tr>
    <tr>
        <th>Time</th>
        <td>{{appointment.time}}</td>
    </tr>
    <tr>
        <th>Reason</th>
        <td>{{appointment.reason}}</td>
    </tr>
    <tr>
        <th>Notes</th>
        <td>{{appointment.notes}}</td>
    </tr>
    <tr>
        <th>Prescribed Medicine</th>
        <td>{{appointment.prescribedMedicine}}</td>
    </tr>
    {% if current_user.isPatient() == False %}
    <tr>
        <td>
            <form method='POST' action='/updateHistory'>
                <input type="hidden" name="patient" value='{{appointment.patient}}'/>
                <input type="hidden" name="date" value='{{appointment.date}}'/>
                <input type="hidden" name="time" value='{{appointment.time}}'/>
                <input type="submit" name="submitEdit" class="ui basic button" value="Edit History"/>
            </form>
        </td>
    </tr>
    {% endif %}

</table>

{% endblock%}
