<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<title>MediSoft</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

		{% block head %}{% endblock %}
        {% block book_script %}{% endblock %}
	</head>
	<body>
		<div style="padding: 50px">

			<div class="ui secondary pointing menu">
                <div class="header item">
                    MediSoft
                </div>
                {% if current_user.is_authenticated %}
                {% block home_banner %}{% endblock %}
                {% block search_banner %}{% endblock %}
                {% block book_banner %}{% endblock %}
                {% block appointments_banner %}{% endblock %}
                {% block profile_banner %}{% endblock %}
                {% block update_profile_banner %}{% endblock %}
                {% else %}
                <div class="right menu">
                    <a class="ui item" href="/login">
                        Login
                    </a>
			  	</div>
                {% endif %}
			</div>

			<br/>
        {% block login %}{% endblock %}
        {% block welcome %}{% endblock %}
        {% block search %}{% endblock %}
        {% block profile %}{% endblock%}
        {% block update_profile %}{% endblock%}
        {% block book %}{% endblock%}
        {% block appointments %}{% endblock%}
        {% block accessedAppointment %}{% endblock%}
	</body>

</html>
