{% extends 'base.html' %}
{% block appointments_banner %}
<a class="item" href="/">
    Home
</a>
<a class="active item" href="/search">
    Search
</a>
<a class="item" href="/appointments">
    Appointments
</a>
<div class="right menu">
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block appointments %}

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui image header">
      <div class="content">
          Appointment booking for {{ name }}
      </div>
  </h1>
  </div>
</div>

<form method='POST' action='/bookAppointment/{{ name }}'>
    <h2 class="ui header">
        Select an available time
    </h2>
    <select name="time" method="GET" action="book">
        <option name="timeValue" value="{{times[0]}}" selected>{{times[0]}}</option>
        {% for time in times[1:] %}
            <option value="{{time}}">{{time}}</option>
        {% endfor %}
    </select>
    <h2 class="ui  header">
        Reason (optional)
    </h2>
    <input name="bookReason" placeholder="Additional Reason" >
    <br>
    <br>
    <button class="ui labeled icon button">
      <i class="edit icon"></i>
        Submit
    </button>
</form>
</div>

{% endblock %}
