{% extends 'base.html' %}
{% block book_script %}
<!--  jQuery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- Bootstrap Date-Picker Plugin -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

		<script>
		    $(document).ready(function(){
		      var date_input=$('input[name="date"]'); //our date input has the name "date"
		      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		      var options={
		        format: 'mm/dd/yyyy',
		        container: container,
		        todayHighlight: true,
		        autoclose: true,
		      };
		      date_input.datepicker(options);
		    })
		</script>

{% endblock %}
{% block appointments_banner %}
<a class="item" href="/">
    Home
</a>
<a class="active item" href="/search">
    Search
</a>
<a class="item" href="/appointments">
    Appointments
</a>
<a class="item" href="/profile/self/{{current_user.get_id()}}">
    Profile
</a>
<a class="item" href="/history">
    History
</a>
<div class="right menu">
    <a class="ui item">
        {{ loggedInUser }}
    </a>
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block appointments %}

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui image header">
      <div class="content">
          Appointment booking for {{ name }}
      </div>
  </h1>
  </div>
</div>
<br>
{% if error != "" %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>

{% endif %}
<form method='POST' action='/bookAppointment/{{ name }}'>
    <h2 class="ui header">
        Select an available time
    </h2>
    <select name="time" method="GET" action="book">
        <option name="timeValue" value="{{times[0]}}" selected>{{times[0]}}</option>
        {% for time in times[1:] %}
            <option value="{{time}}">{{time}}</option>
        {% endfor %}
    </select>
    <br>
    <div class="form-group"> <!-- Date input -->
        <br>
			        <label class="control-label" for="date"><h2>Date</h2></label>
			        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
			    </div>
    <h2 class="ui  header">
        Reason (optional)
    </h2>
    <div class="ui input">
        <input type="text" id="searchText" name="bookReason" placeholder="Reason ">
    </div>
    <br>
    <br>
    <button class="ui labeled icon button">
      <i class="edit icon"></i>
        Submit
    </button>
</form>
</div>

{% endblock %}
