{% extends 'base.html' %}
{% block book_banner %}
<a class="item" href="/">
    Home
</a>
<a class="item" href="/search">
    Search
</a>
<a class="active item" href="book">
    Appointments
</a>
<div class="right menu">
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block book %}

<h2> Select a health care provider </h2>


<h2> Select an appointment time </h2>
    <select name="time" method="GET" action="book">
        <option value="{{times[0]}}" selected>{{times[0]}}</option>
        {% for time in times[1:] %}
            <option value="{{time}}">{{time}}</option>
        {% endfor %}
    </select>
<form method="POST">
    <h2> Reason(optional) </h2>
    <input name="bookReason" placeholder="Additional Reason" >
    <button id="button" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}
