{% extends 'base.html' %}
{% block home_banner %}
<a class="active item" href="/">
    Home
</a>
<a class="item" href="/search">
    Search
</a>
<a class="item" href="/appointments">
    Appointments
</a>
<a class="item" href="/profile/self/{{current_user.get_id()}}">
    Profile
</a>
<a class="item" href="/history">
    History
</a>
<div class="right menu">
    <a class="ui item">
        {{ loggedInUser }}
    </a>
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block welcome %}
<br>
<br>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
          {% if current_user.is_authenticated %}
          Welcome to MediSoft!
          <br>
          {% if booked == true %}
          <div class="ui success message">
              <div class="header">
                  Your appointment was successfully booked.
              </div>
              <p>You can view your current appointments from the appointments tab</p>
          </div>
          {% endif %}

          {% if updated == true %}
          <div class="ui success message">
              <div class="header">
                  Your appointment was successfully updated.
              </div>
              <p>You can view past appointments from the history tab</p>
          </div>
          {% endif %}

          {% else %}
          Please login to access MediSoft
          {% endif %}
      </div>
    </h2>
  </div>
</div>

{% endblock %}
