{% extends 'base.html' %}
{% block profile_banner %}
<a class="item" href="/">
    Home
</a>
<a class="active item" href="/search">
    Search
</a>
<a class="item" href="/appointments">
    Appointments
</a>
<div class="right menu">
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block profile %}
    <style>
        #information {
            display: block;
            position: relative;
            margin: 40px auto;
            height: auto;
            width: 500px;
            padding: 20px;
            border: 1px solid;
        }
    </style>
    {% if option == "healthProvider" or option == "service" %}
    <form method="POST" action="/book/{{ email }}">
    {% else %}
    <form method="POST" action="/book/{{ name }}">
    {% endif %}
        <h2 style="text-align: center">Profile page</h2>
        <table class="table" id="information">
            <tr>
                <th>Centre Type</th>
                <td>{{ typeCentre }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <th>ABN</th>
                <td>{{ abn }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ phone }}</td>
            </tr>
            <tr>
                <th>Suburb</th>
                <td>{{ suburb }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ rating }}</td>
            </tr>
    {% if option == "healthProvider"%}
            <tr>
                <th>Email</th>
                <td name="email">{{ email }}</td>
            </tr>
            {% if current_user.isPatient() == True %}
                    <tr>
                        <td>
                            <button class="ui labeled icon button">
                              <i class="pencil icon"></i>
                                Book appointment
                            </button>
                        </td>
                    </tr>
            {% endif %}
    {% endif %}
    {% if option == "service" %}
            <tr>
                <th>Email</th>
                <td name="email">{{ email }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ service }}</td>
            </tr>
            {% if current_user.isPatient() == True %}
                    <tr>
                        <td>
                            <button class="ui labeled icon button">
                              <i class="pencil icon"></i>
                                Book appointment
                            </button>
                        </td>
                    </tr>
            {% endif %}
    {% endif %}
        </table>
    </form>
{% endblock %}
