{% extends 'base.html' %}
{% block profile_banner %}
<a class="item" href="/">
    Home
</a>
{% if option == "self" %}
<a class="item" href="/search">
    Search
</a>
{% else %}
<a class="active item" href="/search">
    Search
</a>
{% endif %}
<a class="item" href="/appointments">
    Appointments
</a>
<a class="item" href="/history">
    History
</a>
<div class="right menu">
    {% if option == "self" %}
    <a class="active item" href="/profile/self/{{current_user.get_id()}}">
        {{ loggedInUser }}
    </a>
    {% else %}
    <a class="item" href="/profile/self/{{current_user.get_id()}}">
        {{ loggedInUser }}
    </a>
    {% endif %}
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block profile %}
    <style>
        #information {
            display: block;
            position: relative;
            margin: 40px auto;
            height: auto;
            width: 500px;
            padding: 20px;
            border: 1px solid;
        }
    </style>

    {% if option == "provider" or option == "service" %}
    <form method="POST" action="/book/{{ provider.get_id() }}">
    <h2 style="text-align: center">{{ provider.get_id() }}'s Profile</h2>
    {% elif option == "healthCentre" or option == "suburb" %}
    <form method="POST" action="/book/{{ centre.getName() }}">
    <h2 style="text-align: center">{{ centre.getName() }}'s Profile</h2>
    {% elif option == "patient" %}
    <form method="POST" action="/appointment/{{ patient.get_id() }}">
    <h2 style="text-align: center">{{ patient.get_id() }}'s Profile</h2>
    {% else %}
    <form method="GET" action="/update/{{ current_user.get_id() }}">
    <h2 style="text-align: center">Your Profile</h2>
    {% endif %}

    {% if option == "self" %}
    <table class="table" id="information">
        <tr>
            <th>Email</th>
            <td name="email">{{ current_user.get_id() }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td name="first_name">{{ current_user.getFirstName() }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td name="last_name">{{ current_user.getLastName() }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td name="phone">{{ current_user.getPhone() }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td name="password">{{ current_user.get_password() }}</td>
        </tr>
    {% if current_user.isPatient() == True %}
        <tr>
            <th>Medicare</th>
            <td name="medicare">{{ current_user.get_medicare() }}</td>
        </tr>
    {% else %}
    <tr>
        <th>Profession</th>
        <td name="profession">{{ current_user.getProfession() }}</td>
    </tr>
    <tr>
        <th>Expertise</th>
        <td name="expertise">{{ current_user.get_expertise() }}</td>
    </tr>
    <tr>
        <th>Provider Number</th>
        <td name="provider_num">{{ current_user.get_providerNum() }}</td>
    </tr>
    <tr>
        <th>Working Hours</th>
        <td name="workinghours">{{ current_user.get_startWorkingHours()}}-{{current_user.get_endWorkingHours()  }}</td>
    </tr>
    <tr>
        <th>Rating</th>
        <td name="rating">{{ current_user.get_rating() }}</td>
    </tr>
    {% endif %}
        <tr>
            <td>
                <button class="ui labeled icon button">
                  <i class="edit icon"></i>
                    Update Information
                </button>
            </td>
        </tr>
    </form>
    {% if current_user.isPatient() == False %}
    <tr>
        <th>Affiliated Health Centres:</th>
        <td ></td>
    </tr>
    {% for item in current_user.getListOfCentres() %}
    <tr>
        <td>{{ item.getName() }}</td>
        <td>
            <form method='POST' action='/profile/centre/{{ item.getName() }}'>
                <input type="hidden" value='{{ option }}' name="option"/>
                <input type="hidden" value="{{ item["typeCentre"] }}" name="typeCentre"/>
                <input type="hidden" value="{{ item["name"] }}" name="name"/>
                <input type="hidden" value="{{ item["abn"] }}" name="abn"/>
                <input type="hidden" value="{{ item["phone"] }}" name="phone"/>
                <input type="hidden" value="{{ item["suburb"] }}" name="suburb"/>
                <input type="submit" class="ui basic button" value="View Profile"/>
            </form>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </table>
    {% else %}
    <table class="table" id="information">
    {% if option == "patient" %}
        <tr>
            <th>Email</th>
            <td>{{ patient.get_id() }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ patient.getFirstName() }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ patient.getLastName() }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{ patient.getPhone() }}</td>
        </tr>
        <tr>
            <th>Medicare</th>
            <td>{{ patient.get_medicare() }}</td>
        </tr>

    {% endif %}
    {% if option == "healthCentre" %}
        <tr>
            <th>Name</th>
            <td>{{ centre.getName() }}</td>
        </tr>
        <tr>
            <th>Centre Type</th>
            <td>{{ centre.getCentreType() }}</td>
        </tr>
        <tr>
            <th>ABN</th>
            <td>{{ centre.getABN() }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ centre.getPhone() }}</td>
        </tr>
        <tr>
            <th>Suburb</th>
            <td>{{ centre.getSuburb() }}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{ centre.getRating() }}</td>
        </tr>
    {% endif %}
    {% if option == "provider" %}
        <tr>
            <th>Email</th>
            <td>{{ provider.get_id() }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ provider.getFirstName() }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ provider.getLastName() }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{ provider.getPhone() }}</td>
        </tr>
        <tr>
            <th>Profession</th>
            <td>{{ provider.getProfession() }}</td>
        </tr>
        <tr>
            <th>Expertise</th>
            <td>{{ provider.get_expertise() }}</td>
        </tr>
        <tr>
            <th>Provider Number</th>
            <td>{{ provider.get_providerNum() }}</td>
        </tr>
        <tr>
            <th>Working Hours</th>
            <td>{{ provider.get_startWorkingHours()}}-{{provider.get_endWorkingHours()}}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{ provider.get_rating() }}</td>
        </tr>

        {% if current_user.isPatient() == True %}
            {% if provider.getProfession() != "Specialist" %}
                    <tr>
                        <td>
                            <button class="ui labeled icon button">
                              <i class="pencil icon"></i>
                                Book appointment
                            </button>
                        </td>
                    </tr>
            {% elif provider.getProfession() == "Specialist" %}
                {% if current_user.searchReferrals(provider.get_id()) == True %}
                    <tr>
                        <td>
                            <button class="ui labeled icon button">
                              <i class="pencil icon"></i>
                                Book appointment
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    </form>

    <!-- Set Ratings -->
    {% if option == "healthCentre" or option == "suburb" %}
    <tr>
        <th>Rate this health centre (from 0 to 10):</th>
        <td></td>
    </tr>
    <tr>
    <form method='POST' action='/profile/updateRatings/centre/{{centre.getName()}}'>
        <td>
            <input type="number" id="updateRating" name="updateRatingBox" min="0" max="10" placeholder=" 0 - 10"/>
        </td>
        <td>
            <input type="submit" class="ui basic button" value="Submit Rating"/>
        </td>
    </form>
    </tr>

    {% endif %}
    {% if option == "provider" or option == "service" %}
    <tr>
        <th>Rate this provider (from 0 to 10):</th>
        <td></td>
    </tr>
    <tr>
        <form method='POST' action='/profile/updateRatings/provider/{{provider.get_id()}}'>
            <td>
                <input type="number" id="updateRating" name="updateRatingBox" min="0" max="10" placeholder=" 0 - 10"/>
            </td>
            <td>
                <input type="submit" class="ui basic button" value="Submit Rating"/>
            </td>
        </form>
    </tr>
    {% endif %}



    {% if option == "healthCentre" or option == "suburb" %}
    <tr>
        <th>Affiliated Health Providers:</th>
        <td ></td>
    </tr>
    {% for item in centre.getProviders() %}
    <tr>
        <td>{{ item.get_id() }}</td>
        <td>
            <form method='POST' action='/profile/provider/{{ item.get_id() }}'>
                <input type="hidden" value='{{ option }}' name="option"/>
                <input type="hidden" value="{{ item["user"] }}" name="user"/>
                <input type="hidden" value="{{ item["typeCentre"] }}" name="typeCentre"/>
                <input type="hidden" value="{{ item["name"] }}" name="name"/>
                <input type="hidden" value="{{ item["abn"] }}" name="abn"/>
                <input type="hidden" value="{{ item["phone"] }}" name="phone"/>
                <input type="hidden" value="{{ item["suburb"] }}" name="suburb"/>
                <input type="submit" class="ui basic button" value="View Profile"/>
            </form>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if option == "provider" or option == "service" %}
    <tr>
        <th>Affiliated Health Centres:</th>
        <td ></td>
    </tr>
    {% for item in provider.getListOfCentres() %}
    <tr>
        <td>{{ item.getName() }}</td>
        <td>
            <form method='POST' action='/profile/centre/{{ item.getName() }}'>
                <input type="hidden" value='{{ option }}' name="option"/>
                <input type="hidden" value="{{ item["typeCentre"] }}" name="typeCentre"/>
                <input type="hidden" value="{{ item["name"] }}" name="name"/>
                <input type="hidden" value="{{ item["abn"] }}" name="abn"/>
                <input type="hidden" value="{{ item["phone"] }}" name="phone"/>
                <input type="hidden" value="{{ item["suburb"] }}" name="suburb"/>
                <input type="submit" class="ui basic button" value="View Profile"/>
            </form>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </table>
    {% endif %}
{% endblock %}
