<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<title>Assignment 2</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesSearch.css') }}">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

		{% block head %}{% endblock %}
	</head>
	<body>
		<div style="padding: 50px">
			<div class="ui secondary pointing menu">
			  	<a class="item" href="/">
			    	Home
			  	</a>
			  	<a class="active item" href="search">
			    	Search
				</a>
			  	<a class="item" href="showBookings">	
			    	Bookings
			  	</a>
			  	<div class="right menu">
			  		{% block username %}{% endblock %}
			    	<a class="ui item">
			      		Logout
			    	</a>
			  	</div>
			</div>
			<h1>Assignment 2</h1>
			<hr/>
			<br/>
		</div>
		<form id="searchBox" method="POST">
			<h1 id="searchTitle">Search</h1>
			<div class="form-group">
				<input type="text" class="form-control" id="searchText" name="searchText" placeholder="Leave empty if you want to search all">
			</div>
			<div class="form-check">
			  	<input class="form-check-input" type="radio" name="radioSearch" id="radioHealthCentre" value="healthCentre" checked>
			  	<label class="form-check-label" for="radioHealthCentre">
			    By Health Centre
			  	</label><br/>
			  	<input class="form-check-input" type="radio" name="radioSearch" id="radioHealthProvider" value="healthProvider" unchecked>
			  	<label class="form-check-label" for="radioHealthProvider">
			    By Health Provider
			  	</label><br/>
			  	<input class="form-check-input" type="radio" name="radioSearch" id="radioSuburb" value="suburb" unchecked>
			  	<label class="form-check-label" for="radioSuburb">
			    By Suburb
			  	</label><br/>
			  	<input class="form-check-input" type="radio" name="radioSearch" id="radioService" value="service" unchecked>
			  	<label class="form-check-label" for="radioService">
			    By Service
			  	</label><br/>
			  	<input type="submit" value="Profile Link"/>
			  	
			</div>
		</form>
		{% block searchResults %}{% endblock %}
	</body>

</html>
