{% extends 'search.html' %}
{% block searchResults %}

{% if option == "healthCentre" or option == "suburb" %}
<table class="table" id="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Health Centre</th>
			<th scope="col">Name</th>
			<th scope="col">Postcode</th>
			<th scope="col">Phone</th>
			<th scope="col">Suburb</th>
			<th scope="col">Profile</th>
		</tr>
	</thead>
	<tbody>
	    {% for item in searchArray[1] %}

	    <tr>
	    	<th scope="row">{{ loop.index }}</th>
	    	<td>{{ item["typeCentre"] }}</td>
	    	<td>{{ item["name"] }}</td>
	    	<td>{{ item["postcode"] }}</td>
	    	<td>{{ item["phone"] }}</td>
	    	<td>{{ item["suburb"] }}</td>
	    	<td><button type="button" class="btn btn-primary">Profile Link</button></td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>
{% endif %}

{% if option == "healthProvider" %}
<table class="table" id="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Email</th>
			<th scope="col">Health Centre</th>
			<th scope="col">Name</th>
			<th scope="col">Postcode</th>
			<th scope="col">Phone</th>
			<th scope="col">Suburb</th>
			<th scope="col">Profile</th>
		</tr>
	</thead>
	<tbody>
	    {% for item in searchArray[1] %}

	    <tr>
	    	<th scope="row">{{ loop.index }}</th>
	    	<td>{{ item["user"] }} </td>
	    	<td>{{ item["typeCentre"] }}</td>
	    	<td>{{ item["name"] }}</td>
	    	<td>{{ item["postcode"] }}</td>
	    	<td>{{ item["phone"] }}</td>
	    	<td>{{ item["suburb"] }}</td>
	    	<td><button type="button" class="btn btn-primary">Profile Link</button></td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>	
{% endif %}

{% if option == "service" %}
<table class="table" id="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Email</th>
			<th scope="col">Service</th>
			<th scope="col">Health Centre</th>
			<th scope="col">Name</th>
			<th scope="col">Postcode</th>
			<th scope="col">Phone</th>
			<th scope="col">Suburb</th>
			<th scope="col">Profile</th>
		</tr>
	</thead>
	<tbody>
	    {% for item in searchArray[1] %}

	    <tr>
	    	<th scope="row">{{ loop.index }}</th>
	    	<td>{{ item["user"] }} </td>
	    	<td>{{ item["service"] }} </td>
	    	<td>{{ item["typeCentre"] }}</td>
	    	<td>{{ item["name"] }}</td>
	    	<td>{{ item["postcode"] }}</td>
	    	<td>{{ item["phone"] }}</td>
	    	<td>{{ item["suburb"] }}</td>
	    	<td><button type="button" class="btn btn-primary">Profile Link</button></td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>	
{% endif %}
{% endblock %}