{% extends 'base.html' %}
{% block search_banner %}
<a class="item" href="/">
    Home
</a>
<a class="active item" href="/search">
    Search
</a>
<a class="item" href="/book">
    Appointments
</a>
<div class="right menu">
    <a class="ui item" href="/logout">
        Logout
    </a>
</div>
{% endblock %}
{% block search %}
    <form id="searchBox" method="POST">
        <h2 class="ui image header">
          <div class="content">
              Search for a Healthcare Service
          </div>
        </h2>
        <div class="ui fluid action input">
            <input type="text" id="searchText" name="searchText" placeholder="Leave blank to display all...">
            <button class="ui button">Search</button>
        </div>
        <br>
        <div class="grouped fields">
        <label for="radioHealthCentre">Specify search criteria:</label>
            <div class="field">
              <div class="ui radio checkbox">
                  <input class="form-check-input" type="radio" name="radioSearch" id="radioHealthCentre" value="healthCentre" checked>
                  <label class="form-check-label" for="radioHealthCentre">
                  Health Centre
                  </label><br/>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input class="form-check-input" type="radio" name="radioSearch" id="radioHealthProvider" value="healthProvider" unchecked>
                <label class="form-check-label" for="radioHealthProvider">
                Health Provider
                </label><br/>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input class="form-check-input" type="radio" name="radioSearch" id="radioSuburb" value="suburb" unchecked>
                <label class="form-check-label" for="radioSuburb">
                Suburb
                </label><br/>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input class="form-check-input" type="radio" name="radioSearch" id="radioService" value="service" unchecked>
                <label class="form-check-label" for="radioService">
                Service
                </label><br/>
              </div>
            </div>
          </div>
    </form>

    {% block searchResults %}{% endblock %}
{% endblock %}
